<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Email Validation</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
</head>
<body>
    <div class="wrapper">
        <div class="errorflash">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p style="color: red">{{message}}</p>
                    {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <div class="divform">
                <form action="/add" method="post">
                    <label>Email Address: </label>
                    <input type="text" name="email">
                    <button>Add Email</button>
                </form>
            </div>
    </div>
    
</body>
</html>